@import url(https://fonts.googleapis.com/css?family=ABeeZee:regular,italic);
html,
body {
  height: 100%;
  margin: 0;
  font-family: "ABeeZee", sans-serif;
}

.top-container,
.bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-container {
  /* height: 10vh; */
  background-color: #a547d0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-container {
  flex: 1;
  background-color: #f9f9f9;
}

.content {
  text-align: center;
  padding: 20px;
  /* width: 250px; */
}

.inpt {
  width: 50vw;
  height: 9vh;
  box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.6);
}

.inptxt {
  height: 9vh;
  font-size: 30px;
  padding-left: 30px;
}

.btn {
  width: 190px;
  font-size: 30px;
  /* border-top-right-radius: 30px; */
  outline: transparent;
}

.tbl {
  width: 100%;
  height: auto;
  font-size: 35px;
}
tr:nth-child(even) {
  background-color: #ebebeb;
}
tr:hover {
  background-color: #e6e6e6;
}
